@import "tailwindcss";

.bgimage {
  background-image: url("src/images/bg-slate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh;
  width: 100%; */
}
